.addpost {
  width: 600px;
  margin: auto; }
  .addpost input {
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
    size: 55px;
    height: 40px;
    padding: 10px; }
  .addpost textarea {
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    size: 55px; }
  .addpost button {
    width: 200px;
    height: 40px;
    border-radius: 5px; }
  .addpost p {
    width: 80%;
    margin: auto; }

/*# sourceMappingURL=styleadd.css.map */