
  #page-auth {
    margin-top: 80px;
    padding: 50px 0;
    background: #f9f9f9; }
  #page-auth .form-group {
      display: block;
      width: 100%;
      max-width: 100%;
      background: #fff;
      padding: 10px 20px;
      margin-bottom: 20px; }
  #page-auth .form-group input {
        width: 100%;
        border: 0;
        border: 1px solid #E3E3E3;
        height: 40px;
        padding: 10px 5px; }
  #page-auth .form-group input:focus {
          -webkit-box-shadow: none;
                  box-shadow: none; }
  #page-auth .form-group p {
        margin: 0;
        color: #a7a7a7; }
  #page-auth .form-login {
      padding: 20px;
      width: 400px; }
  #page-auth .form-login h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 15px; }
    #page-auth .form-login p {
      text-align: center; }
    #page-auth .form-login label {
      color: #a7a7a7; }
    #page-auth .form-login .bg-re-forgot {
      background: none; }
    #page-auth .form-login .form-submit {
      width: 100%;
      background: #f9496a;
      height: 50px;
      border-radius: 0;
      border: 0;
      font-size: 16px;
      font-weight: 600;
      color: #ffffff; }
    #page-auth .form-login .sign-fb {
      width: 100%;
      background: #3363d2;
      height: 50px;
      border-radius: 0;
      border: 0;
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      text-decoration: none;
      display: block;
      line-height: 50px;
      margin-bottom: 20px;
      padding: 0 15px; }
    #page-auth .form-login .sign-fb i {
        font-size: 30px;
        margin-right: 30px; }
    #page-auth .form-login .sign-gg {
      background: #D85656; }
    #page-auth .form-login .bg-re-forgot {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 0; }
    #page-auth .form-login .create-one {
        padding: 30px 0;
        text-align: center; }
    #page-auth .form-login .or-register-other {
        text-align: center;
        padding-bottom: 30px; }
    #page-auth .form-control:focus {
      -webkit-box-shadow: none;
              box-shadow: none; }

  .form-login {
    margin: auto; }
  .form-login .or-register-other {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    z-index: 1; }
  .form-login .or-register-other span {
    position: absolute;
    top: -13px;
    font-size: 16px;
    background: #f94a69;
    z-index: 2;
    padding: 0 5px;
    font-weight: 500;
    left: 45%;
    box-shadow: none;
     }
  .form-login .box-remember-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%; }
  .form-login .box-remember-me input {
      height: 20px !important;
      width: 20px !important;
      margin-right: 10px; }
      .sign-fb{
        text-align: center;
      }