
*{
    padding: 0;
    margin: 0;
}

.post-cat{
    text-decoration: none;
}
.trending-slide{
    display:-webkit-inline-box;
}
.top-info{
    li{
        list-style: none;
    }
}
.carousel-inner{
    padding-left: 20px;
}
.header-middle-area{
    height: 80px;
}
.logo-area{
    line-height: 80px;
}
.img-fluid{
    width: 100%;
    height: auto;
}
.banner-img{
    .img-fluid{
        height: 80px;
        width: auto;
    }
}
.header-middle-area{
    margin: 20px 0;
}
.menu{
    background-image: linear-gradient(20deg,#f84270 0%,#fe803b 100%);
    .fa-twitter{
        background: none;
    }
}
nav.navbar {
    margin-bottom:0;
    background: none;
    border:0;
}
.container-fluid {
    ul:first-child{
    width: 85%;
    float: left;}
    .social-links{
        width: 25%;
        float: left;
    }
    li a{
        font-size: 16px;
        font-weight: 600;
        color: #fff !important;
        padding-top: 20px;
        padding-bottom: 20px;
        text-transform: uppercase;

    }
    ul.social-links {
        width: 10%;
        float: left;
        display: flex;
        justify-content: space-around;
        height: 60px;
        margin: 0;
        line-height: 60px;
        background:rgba(255,255,255,.05);
        border-left: 1px solid rgba(255,255,255,.2);
       
        li{
            list-style: none;
        }
    }

        .nav-search-area {
            background: rgba(255, 255, 255, .05);
            border-left: 1px solid rgba(255, 255, 255, .2);
            border-right: 1px solid rgba(255, 255, 255, .2);
            width: 5%;
            float: right;
            position: relative;

            .input-group {
                input {
                    position: absolute;
                    top: 90px;
                    width: 292px;
                    right: -45px;
                }

                .search-button {
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 0;
                    width: 100%;
                    background: none;
                    text-align: center;
                    right: 0;
                    align-items: center;

                    i {
                        margin: 0 auto;
                        padding: 23px 16px;
                    }
                }
            }

        }

    
}
.ts-search-form{
    position: absolute;
    z-index: 9999;
    width: 200px;
    right: 0px;
}


.modal-content{
    border: 0;
}
.header-search-icon i{
    color: #fff;
}
.modal-lg{
    width: auto;
}
.copy-right{
    background: #000;
    margin-top: 30px;
    p{
        margin: 0;
        height: 40px;
        color: #fff;
        text-align: center;
        line-height: 40px;
    }
}
ul.footer-info{
    li{
        list-style:none;
    }
}
.footer-left-widget{
    ul{
    
        li{
            list-style: none;
        }
    }
    ul.xs-social-list{
        
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-right: 50% ;

        li{
            list-style: none;
        }
        i.fa{
            font-size: 25px;
            color: #fff;
        }
       
    }
}

.footer-right-widget{
    padding-top: 30px;
    img{
        width: 100%;
    }
} 
.post-content{
    .post-thumb{
        width: 25%;
        float: left;
        height: 100%;
        img{
            width: 100%;
            height: 85px;
            border-radius: 10px;
            object-fit: cover;
        }
    }
    .post-info{
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        .post-title{
            a{
                color: #fff;
                font-size: 18px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
        }
        .post-date{
            color: #999;
            font-weight: 400;
        }
    }
}
    .ts-footer{
        background: #000;
      
        .widget-title{
            span{
                color: #fff;
                font-size: 24px;
                font-weight: 500;
            }
        }
        .textwidget p{
            font-size: 14px;
            font-weight: 400;
            color: #fff;
        }
        .widget_text{
            .footer-info{
                font-size: 14px;
                font-weight: 400;
                color: #fff;
            }
        }
    }
.newsletter-area{
    background-image: linear-gradient(20deg,#f84270 0%,#fe803b 100%);
    padding: 40px 0;
    .logo img {
        width: 100%;
        max-width: 220px;
        color: #fff;
    }
}
.footer-newsletter{
    width: 100%;
    p{
        margin: 0;
        width: 60%;
    }
    display: inline-flex;
    position: relative;
    input[type=email]{
        height: 48px;
        color: #fff;
        border: none;
        width: 100%;
        padding: 0 40px;
        background: rgba(255,255,255,.25);
        border-radius: 5px 0 0 5px;
    }
    input[type=submit]{
        height: 48px;
    line-height: 48px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background: #222;
    border: none;
    color: #fff;
    cursor: pointer;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-radius: 0 5px 5px 0;
   
    width: 40%;
    }
    i.fa{
        position: absolute;
        left: 15px;
        bottom: 15px;
        color: #fff;
        font-size: 17px;
    }

}
.overlay-post-content{
 
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
    .post-content{
        padding: 40px 40px 35px 35px;
    }
    li{
        list-style: none;
    }
    .item{
        width: 100%;
    }
    .post-title{
        a{
            font-size: 36px;
            color: #fff;
            font-weight: 700;
            text-decoration: none;
        }
    }
    a{
        color: #fff;
    }
    
}
.item-new{
    .item{
        position: relative;
    }
    .img-link{
        img{
            width: 100%;
            max-width: 100%;
            height: 600px;
            border-radius: 5px;
        }
    }
}
ul.post-meta-info{
    display: inline-flex;
    li{
        padding-right: 10px;
    }
}
.item-new-left{
    padding-right: 0;
}
.item-new-right{
    .item{
        position: relative;
    }
   
    img{
        width: 100%;
        max-width: 100%;
    }
    .post-content{
        padding: 10px;
    }
    .post-title a{
        font-size: 18px;
    }
    .item-top{
        .item{
            height: 360px;
            
        }

        img{
            height: 360px;
            border-radius: 10px;
        }

    }
    .item-bottom{
        margin-top: 20px;
        .item{
            height: 220px;
        }
        img{
            height: 100%;
            height: 220px;
            border-radius: 5px;
        }
    }
}
.new{
    padding: 30px 0 25px 0;
}
.slider{
    display: flex;
    height: 300px;
    .ts-overlay-style {
        height: 100%;
        .item{
            height: 100%;
            max-height: 100%;
            object-fit: cover;
            position: relative;
            border-radius: 5px;
            background-repeat: round;
            .post-content{
                position: absolute;
                bottom: 0;
                padding: 10px 15px;
                border-radius: 5px;
            }
            .post-title{
                a{
                    font-size: 18px;
                }
            }
        }
    }
}
.new-page2-left{
    position: relative;
    .tab-content{
        padding-top: 20px;
    }
    ul.nav-tabs{
        position: absolute;
        z-index: 1000;
        top: 15px;
        right: 0;
        width: 400px;
        border: 0;
        .tab-text-title{
            font-size: 18px;

        }
        .nav-item{
            float: right;
        }
        .tab-head{
            margin: 0;
        }
    }
    .item-new{
        width: 100%;
    }
    .img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        background-repeat: round;
        position: relative;
        border-radius: 5px;

        .grid-category{
            position: absolute;
            bottom: 20px;
            left: 20px;
            .post-cat{
                background: #007bff;
                color: #fff;
                text-decoration: none;

            }
        }
    }
    .post-content{
        .post-title{
            a{
                color: #222;
                font-weight: 500;
                font-size: 24px;
                font-weight: 700;
                text-decoration: none;
                &:hover{
                   color:  #fc4a00;
                }
            }
        }
        .post-author{
            a{
                text-decoration: none;
                color: #999;
            }
            
        }
        .post-meta-info {
            li{
                color: #999;
            }
        }
    }
}
.list-new{
    .item-new{
        margin-bottom: 25px ;
        height: 100px;
    }
    .img-right{
        width: 40%;
        height: 100%;
        float: left;
        background-repeat: round; 
      }
    .post-content{
        height: 100px;
        width: 60%;
        float: right;
        padding: 0 10px ;
        h4.post-title{
            margin: 0;
            a{
                font-size: 16px;
                line-height: 1.5;
            }
        }
    }
}
.side-bar{
    .elementor-element{
        padding-top: 15px;
    }
    .apsc-each-profile{
        width: 50%;
        float: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .apsc-inner-block{
        width: 100%;
        max-width: 95%;
        border-radius: 5px;
        float: left;
        border: 1px solid #f1f1f1;
        padding: 5px;
        .social-icon{
            height: 40px;
            width: 30%;
            float: left;
            line-height: 40px;
            i.fa{
                border: 1px;
                padding: 6px 10px;
                border-radius: 6px;
                background: #3b5998;
                color: #fff;
            }
            i.fa-twitter{
                background: #1dcaff;
            }
            i.fa-instagram{
                background: #3f729b;
            }
            i.fa-youtube-play{
                background: #e52d27;
            }
            .media-name{
                display: none;
            }
            
        }
        .apsc-media-type{
            display: flex;
        }
    
    }
    .elementor-image{
        img{
            width: 100%;
            height: auto;
        }
    }
}

.new-page3{
    margin-top: 40px;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    background: #000000;
    padding: 40px 30px;
   
    .elementor-widget-container{
        padding: 0 15px;
        h2.block-title{
            margin: 0;
            margin-bottom: 20px;
            font-weight: 800;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
    a, i, span,li{
        text-decoration: none;
        color: #fff;
    }
    
    .left-item{
      .img{
        height: 250px;
        border-radius: 5px;
        background-repeat: round;
      
      }
    }
    .right-item{
        padding: 0;
        .item{
            width: 50%;
            float: left;
            max-width: 95%;
            padding: 0 10px;
            .img{
                height: 100px;
                background-repeat: round;
                border-radius: 5px;
            }
            .post-title{
                font-size: 16px;
                margin: 5px 0;
            }
            li{
                padding-left: 0px !important;
            }
        }
    }
  }
.new-page2{
    padding-bottom: 40px;
    .section-heading{
        padding: 0 10px;
    }
    .block-title{
        span{
            position: relative;
        &:before{
              position: absolute;
              content: '';
              height: 3px;
              width: 12px;
              background: #fc4a00;
              top: -5px;
              left: -10px;
          }
          &::after{
              position: absolute;
              content: '';
              height: 12px;
              width: 3px;
              background: #fc4a00;
              top: -5px;
              left: -10px;
          }
      }
    }
    .title-angle-shap{
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 800;
    }
    .new-page2-left{
        .title-angle-shap{
            color:#fc4a00;
            background: #000;
        }
    }
    .side-bar{
        .block-title{
            span{
                position: relative;
            &:before{
                  background: #000;
              }
              &::after{
                  background: #000;
              }
          }
        }

    }
}
  
.side-bar{
    .list-new-sibar{
        margin-top: 30px;
    }
    .tabs-sibar{
        border: 0;
        padding: 0 20px;
        .tab-text-title{
            font-size: 16px;
            text-transform: uppercase;
            color: #999;
            line-height: 30px;
            font-weight: 800;
            position: relative;
            display: block;
            letter-spacing: .64px;
        }
       
    }
    .img-right{
        width: 100px;
        height: 100px;
        float: left;
        background-repeat: round;
        border-radius: 50%;
    }
    .post-content{
        width: 70%;
        .post-title{
            a{
                color: #222; 
                font-size: 24px;
                font-weight: 700;
                text-decoration: none;
                &:hover{
                    color:#fc4a00;
                }
            }
        }
    }
}
.new-sports-2{
    background: #f7f7f7;
    .img{
        height: 200px;
        position: relative;
        border-radius: 5px;
        background-repeat: round;
        .grid-category{
            position: absolute;
            bottom: 10px;
            padding-left:10px ;
        }
        
    }
    .post-content {
        i,li,span{
            color: #999;
        }
        .post-author{ a{
            color: #999;
            text-decoration: none;
        }}
        .post-title a {
        color: #222;
        font-weight: 500;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        &:hover{
            color: #fc4a00;
        }
        }
    }
}
.item-new-page3{
    display: flex;    
        .img{
            width: 47%;
            background-repeat: round;
            height: 200px;
            border-radius: 5px;
        }
        .post-content{
            padding: 10px 15px;
            padding-left: 20px;
            height: 200px;
            width: 50%;
            .post-title{
                margin-top: 10px;
                a{
                    text-decoration: none;
                    color: #222;
                    font-weight: 500;
                    font-size: 24px;
                    font-weight: 700;
                    text-decoration: none;
                    &:hover{
                        color: #fc4a00
                    }
                }
            }
            .post-meta-info {
               i,span,a,li{
                text-decoration: none;
                color: #999;
            
               }
               p{
                margin-top: 10px;
                margin-bottom: 12px;
               }
            }
        }
      
}
.page3-bottom{
    .item{
        margin: 10px 0;
    }
    .item-new-page3{
        width: 50%;
        float: left;
        .img{
            width: 50%;
            height: 112px;
        }
        .post-content{
            height: 112px;
            width: 50%;
        }
        .post-title{
            margin: 0;
            a{
            font-size: 16px;
        }}
       .post-meta-info {
           margin: 0;
           li{
               padding-left:0px !important ;
           }
       }
    }
}
.post-title{
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-meta-info p{
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category-sibar{
    padding-top: 25px;
    .ts-category-list{
        li{ list-style: none;
            background-attachment: fixed;
            margin: 10px 0;
            padding: 0 40px;
            height: 100px;
            border-radius: 5px;
            line-height: 100px;
            text-decoration: none;
            a{  color: #fff;
                font-size: 24px;
                
            }
            span{
                color: #fff;
                font-size: 24px;
            }
        }
    }
}
.news-page3{
    padding: 30px 0;
    .block-title{
        margin: 0px;
    }
    .qc{
        width: 100%;
        height: auto;
        padding: 20px 0px 10px 0;
        img{
            width: 100%;
        }
    }
}
.new-page4{
    .list-item{
        display: flex;
        flex-wrap: wrap;

    }
    .item{
        width: 32%;
        height: 240px;
        margin-bottom:10px;
        border-radius: 5px;
        position: relative;
        margin: 5px;
    }
    .post-content{
        padding: 10px;
        .post-title{
            a{ font-size: 18px;
                display: -webkit-box;
                max-width: 100%;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;}
        }
    }
   
}
.new-page4{
    .heading-style3{
        padding-left: 15px;
    }
    .side-bar{
        .post-meta-info {
            margin: 0;
        }
        .item-before{
            margin: 10px;
        }
        .img{
            height: 110px;
        }

        .post-content{
            height: fit-content;
            .post-title{
                margin: 5px 0;
            }
            .post-meta-info {
                li{padding-left: 0 !important;}
            }
        }
    }
  
}
.heading-style3{
    width: 100%;
    .title-angle-shap{
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 800;
        position: relative;
        &::before{
          position: absolute;
          content: '';
          height: 3px;
          width: 12px;
          background: #fc4a00;
          top: -5px;
          left: -10px
        }
        &::after{
          position: absolute;
          content: '';
          height: 12px;
          width: 3px;
          background: #fc4a00;
          top: -5px;
          left: -10px
        }
    }
}
.slider-page4{
    display: flex;
    padding: 30px 0;
  
    .item{
        height: 400px;
        background-repeat: round;
        position: relative;
    }
    .post-title a{
        font-size: 28px;
    }
}
.item {
    background-repeat:round ;
}
.list-new-of-list-item{
    .item{
        margin: 20px 0;
    }
}
.menu{
    background-image: linear-gradient(20deg,#f84270 0%,#fe803b 100%);
    .fa-twitter{
        background: none;
    }
}
.slider .ts-overlay-style .item{
    height: 300px;
}
#slider-sports{
    .owl-nav{
        display: none;
    }
    .owl-dots{
        display: none;
    }
}
#slider-page4{
    .owl-nav{
        display: none;
    }
    .owl-dots{
        display: none;
    }
}
.post-content p{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    /* height: 75px; */
    display: -webkit-box;
    -webkit-box-orient: vertical;

}

.menu-mobile{ display: none}
@media(max-width: 1024px){
    .side-bar .post-content {
        width: 65% !important;
    }
    .category-sibar .ts-category-list li span {
        color: #fff;
        font-size: 18px;
    }
    .category-sibar .ts-category-list li a {
        color: #fff;
        font-size: 18px;
    }
    .new-page4 .item{
        width: 31%;
    }
    .slider-page4 .item{
        height: 300px;
    }
    .item-new .img-link img{
        height: 540px;
    }
    .item-new-right .item-top .item {
        height: 300px;
        img{
            height: 300px;
        }
    }
    .banner-img .img-fluid {
        height: 80px;
        width: 100%;
    }
    .menu-mobile{
        margin-top: 110px;
    }
    .side-bar .post-content {
        width: 60% !important;
    }
}
@media (max-width: 768px) {
    .new-page4{
        .item{
            width: 100%;
        }
    }

    .new-page3{
        padding: 40px 0;
    }
    .new-page2{
        .list-new{
            padding: 0;
        }
        .tab-content>div{
            padding: 0;
        }
    }
    .item-new .img-link img {

        max-width: 100%;
        height: 400px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .new{
        .item-new{
            .img-link{
                img{
                    height: 200px;
                }
            }
            .post-title{
                a{
                    font-size: 28px;
                }
            }
        }
    }
    .item-new-right{
        .item{
            height: 200px !important;
        }
        img{
            height: 200px !important;
        }
    }
    .owl-carousel.owl-drag .owl-item{
        padding: 15px;
    }
    .ts-category-list{
        a,span.bar{
            font-size: 18px;
        }
    }
    .category-sibar .ts-category-list li span{
        font-size: 18px;
    }
    body{
        width: 100%;
    }
    .category-sibar .ts-category-list li a {
        color: #fff;
        font-size: 18px;
    }
    .new-page2{
        .side-bar .post-content {
            width: 65%;
        }
    }
    .ts-footer{
        .post-content .post-thumb {
            width: 25%;
            float: left;
            height: auto;
        }
    }
    .banner-img .img-fluid {
        height: 80px;
        width: 100%;
    }
    .menu{
        display: none;
    }
    .menu-mobile{
        display: block;
        margin-top: 80px;
        padding: 15px 0;
        .search-button[name="seach-mobile"]{
            i{
                font-size: 25px;

            }
        }
        #bars{
            width: 15%;
            float: left;
            padding-left: 15px;
            i{
                color: #ffffff;
            }
        }
        nav{
            min-height: 0;
        }
        .seach-mobile{
            float: right;
            width: 80%;
            height: 40px;
            padding: 5px;
            padding-right: 15px;
            padding-left: 13px;
            button{

                width: 50px;
                height: 30px;
                i{
                    font-size: 25px;
                    color: #fa5460;
                }
            }
        }
        input[name="seach-mobile"]{
            height: 30px;
        }
        .nav-search-area{
            display: none;
        }

    }
    .social-links{
        display: none !important;
    }
    #bars {
        .fa-bars{
            font-size: 40px;
        }
    }
    .new-sports{
        padding-top: 0px !important;
    }
    .carousel-inner {
        padding-left: 10px;
    }
    .topbar-gray .title-small{
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }
    .header-middle-area{
        margin-top: 0;
    }
    .ts-category-list-item{
        margin-top: 130px;
    }
    .slider-page4 .item{
        height: 200px;
    }
    .topbar-gray{
        overflow: hidden;
    }
    .post-meta-info{
        display: none !important;
    }
    .item-new-page3 {
        .img{
        height: 150px;
        }
        .post-content{
            height: 150px;
        }
    }
    .new .owl-carousel.owl-drag .owl-item {
        padding: 7px !important;
        margin-right: 7px !important;
    }
    .new-page2-left .item-before .img{
        height: 200px;
    }
    .slider .ts-overlay-style .item {
        height: 200px;
    }
    #slider-sports{
        height: 225px;
    }
    .new-page3{
        padding: 20px 0;
        margin-top: 0;
    }
    .new-sports{
        padding:  0 !important;
    }
    .new-page3 .left-item .img {
        height: 150px;
        border-radius: 5px;
        background-repeat: round;
    }
    .owl-carousel .owl-nav button.owl-prev{
        position: absolute;
        top: 90px;
        left: 10px;
        font-size: 40px;
        color: #fff;
        background: #564f4f59;
    }
     .owl-carousel .owl-nav button.owl-next{
         position: absolute;
         top: 90px;
         right: 10px;
         font-size: 40px;
         color: #fff;
         background: #564f4f59;
     }
    .owl-theme .owl-dots{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .new {
        .owl-carousel .owl-nav button.owl-prev{
            left: 0;
        }
        .owl-carousel .owl-nav.disabled {
            display: block;
        }
    }
    .item-new-page3 .post-content{
        padding: 5px 5px;
    }
    #slider-page4 .owl-nav {
         display: block !important;
        button.owl-next,button.owl-prev{
            top: 120px;
        }
    }
    input[name="search-mobile"]{
        height: 30px;
        border-radius:5px ;
    }
}
@media (max-width: 768px) and (min-width: 767px){
    .menu-mobile {
        display: block;
        margin-top: 120px;
        padding: 15px 0;
    }
    .new-page4 .item {
        width: 48%;
        float: left;
    }
    .menu-mobile .seach-mobile {
        float: right;
        width: 80%;
        height: 40px;
        padding: 5px;
        padding-right: 15px;
        padding-left: 31%;
        input{
            width: 300px;
        }
        button{
            float: right;
        }
    }
    .navbar-nav>li {
        float: left;
        width: 100%;
    }

    .container-fluid li a{
        padding-left: 40px;
    }
    .list-new{
        width: 50%;
    }
}