.addpost{
  width: 600px;
  margin: auto;
  input{
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
    size: 55px;
    height: 40px;
    padding: 10px;
  }
  textarea{
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    size: 55px;
  }
  button{

    width: 200px;
    height: 40px;
    border-radius: 5px;

  }
  p{
    width: 80%;
    margin: auto;
  }
}